<aside class="sidebar">
    <nav *ngIf="id">
        <ul>
            <li [routerLink]="['/users']" routerLinkActive="router-link-active">&laquo; На главную</li>
            <li [routerLink]="['/users', id, 'posts']" routerLinkActive="router-link-active">Посты</li>
            <li [routerLink]="['/users', id, 'comments']" routerLinkActive="router-link-active">Комментарии</li>
            <li [routerLink]="['/users', id, 'albums']" routerLinkActive="router-link-active">Альбомы</li>
        </ul>
    </nav>
</aside>
